
<div class="bg-white">
  <div class="max-w-xl px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <div class="max-w-2xl">
      {% if section.settings.title != blank %}
        <div class="mb-8">
          <h2 class="text-3xl font-bold text-center leading-16 sm:text-2xl lg:text-4xl">{{ section.settings.title }}</h2>
        </div>
      {% endif %}

      {% form 'contact' %}
        {% if form.errors %}
          <div class="rounded-md bg-red-50 mb-6 p-4">
            <div class="flex">
              <div>
                {% render 'icon-failed', svg_class: "shrink-0 size-6 fill-red-400 text-white" %}
              </div>
              <div class="ml-2">
                <div class="font-medium text-sm leading-6 text-red-800 ">{{ 'templates.contact.form.error_heading' | t }}</div>
                <div class="mt-2">
                  <ul class="text-sm text-red-700 space-y-1 list-disc pl-5">
                    {% for error in form.errors %}
                      <li>
                        {{ form.errors.translated_fields.email | capitalize }}
                        {{ form.errors.messages.email }}
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
        {% if form.posted_successfully? %}
          <div class="rounded-md bg-green-50 mb-6 p-4">
            <div class="flex">
              <div>
                {% render 'icon-success', svg_class: "shrink-0 size-6 fill-green-400 text-white" %}
              </div>
              <div class="ml-2">
                <div class="font-medium text-sm leading-6 text-green-800 ">{{ 'templates.contact.form.post_success' | t}}</div>
              </div>
            </div>
          </div>
        {% endif %}
        <div class="grid grid-cols-1 gap-x-8 gap-y-6 sm:grid-cols-2">
          <div class="sm:col-span-2">
            <label for="contact_name" class="block text-sm/6 font-semibold text-gray-900">{{ 'templates.contact.form.name' | t }}</label>
            <div class="mt-2.5">
              <input type="text" name="contact[name]" id="contact_name" autocomplete="given-name" class="block w-full rounded-md bg-white px-3.5 py-2 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600">
            </div>
          </div>
          <div class="sm:col-span-2">
            <label for="contact_email" class="block text-sm/6 font-semibold text-gray-900">{{ 'templates.contact.form.email' | t }}</label>
            <div class="mt-2.5">
              <input type="email" name="contact[email]" id="contact_email" autocomplete="email" class="block w-full rounded-md bg-white px-3.5 py-2 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600">
            </div>
          </div>
          <div class="sm:col-span-2">
            <label for="contact_body" class="block text-sm/6 font-semibold text-gray-900">{{ 'templates.contact.form.comment' | t }}</label>
            <div class="mt-2.5">
              <textarea name="contact[body]" id="contact_body" rows="4" class="block w-full rounded-md bg-white px-3.5 py-2 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600"></textarea>
            </div>
          </div>
        </div>
        <div class="mt-10">
          <button type="submit" class="block w-full rounded-md bg-indigo-600 px-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-xs hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
            {{ 'templates.contact.form.send' | t }}
          </button>
        </div>
      {% endform %}

    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Contact form",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Contact form title"
      }
    ],
    "presets": [
      {
        "name": "Contact form"
      }
    ]
  }
{% endschema %}